.parallax-img-1,
.parallax-img-2,
.parallax-img-3,
.parallax-img-4,
.parallax-img-5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.parallax-img-1 {
    background-image: url('../img/bakgrund_undersida1.jpg');
    height: 100vh;

    .sm-heading-two {
        transform: rotate(-90deg);
        transform-origin: left bottom 0;
        font-size: 25px;
        z-index: 2;
        margin-left: 2.5rem;
        margin-top: 13em;
        position: absolute;

        @include tablet {
            font-size: 30px;
            margin-left: 4rem;
            font-size: 35px;
        }

    }

    .container-fluid {


        @include desktop-small {
            border: 25px solid $secondaryBlue;
            border-radius: 5px;
            position: absolute;
            margin: -70% 10%;
            background: #fff;
            width: 800px;
            height: 500px;
            padding: 20px;
        }


        .top-image {
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .overlay-title {
            font-family: $fontTitle;
            font-size: 20px;
            margin-bottom: 4rem;
            margin-right: 2rem;
            height: auto;
            width: 50%;
            text-align: right;
            float: right;

            @include tablet {
                text-align: right;
                font-size: 25px;
                margin-bottom: 1.5rem;

            }
        }

        .parallax-overlay-text {
            background-color: #fff;
            padding: 1rem 5rem;
            margin: 0;

            @include tablet {
                padding: 0.5rem 0;
                margin-bottom: -4rem;
            }

            .text {

                .capital-letter {
                    font-size: 30px;
                }

                @include tablet {
                    margin: 0 6rem;
                    font-size: 1.3em;
                    line-height: 1.8rem;

                }
            }
        }



    }




}

.parallax-img-2 {
    background-image: url('../img/bakgrund_undersida2.jpg');
    min-height: 200px;

}

.parallax-img-3 {
    background-image: url('../img/bakgrund_undersida2.jpg');
    min-height: 200px;
}

.parallax-img-4 {
    background-image: url('../img/bakgrund_undersida2.jpg');
    min-height: 300px;

    .parallax-link {
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        font-size: 20px;
        cursor: pointer;

        a {
            color: #252525;
            border-bottom: 1px solid #252525;
        }
    }
}

.container-fluid {


    &.text-block {
        line-height: 1.2rem;
        z-index: 1;


        .text-block-title {
            padding: 0 5rem;
            font-family: $fontTitle;
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            line-height: 1.8;

            &.contact {
                font-size: 35px;
            }

            @include tablet {
                padding: 0.5em 2em 0 7em;
                font-size: 1.5rem;
            }
        }

        .text-block-description {
            padding: 1.5rem 5rem;
            line-height: 1.5rem;
            margin-bottom: 0;

            @include tablet {
                padding: 0.5em 2em 0 8em;
                font-size: 1.3em;
                line-height: 1.8rem;
            }
        }

        .vertical-heading-text-block {
            transform: rotate(-90deg);
            transform-origin: left bottom 0;
            font-size: 25px;
            z-index: 2;
            margin-left: 2.5rem;
            text-align: center;
            position: absolute;
            margin-top: 5rem;

            @include tablet {
                font-size: 35px;
                margin-left: 5rem;
                margin-top: 9rem;
            }

        }
    }
}

.text-block-image {
    position: relative;
    min-width: 100px;
    z-index: 1;
    top: 80px;
    margin-left: 5rem;
    margin-right: 1.2rem;
    margin-top: -3rem;
    object-fit: cover;

    @include tablet {
        max-width: 500px;
        margin-left: 10em;
        margin-right: 0;
    }

    img {
        height: auto;
        max-width: 100%;

    }
}


.parallax-img-5 {
    background-image: url('../img/bakgrund_undersida_4.jpg');
    min-height: 200px;
    object-fit: cover;
    margin-top: 4rem;
}

.text-block {

    .divider {
        height: 150px;
        width: 100%;
        background-color: $secondaryBeige;
    }

    .text-block-title {

        &.contact {
            margin: 0;
            font-size: 30px;
            font-family: $fontTitle;
            color: $primary;
            padding-top: 3rem;

            @include tablet {
                padding-left: 5em;
            }

        }

    }

    .vertical-heading-contact {
        transform: rotate(-90deg);
        transform-origin: left bottom 0;
        font-size: 25px;
        z-index: 2;
        margin-left: 2.5rem;
        text-align: center;
        margin-top: 3rem;
        position: absolute;

        @include tablet {
            position: absolute;
            margin-left: 3.5rem;
            font-size: 35px;
            margin-top: 3em;
            margin-left: 5rem;

        }
    }

    form {
        display: block;
        text-align: center;
        padding: 0 5rem;

        @include tablet {
            padding: 2.5rem 5rem;
        }

        label {
            float: left;
            margin-top: 0.8rem;
            font-size: 22px;
        }

        input[type="submit"] {
            background-color: $primary;
            color: #fff;
            border-radius: 20px;
            margin-top: 0.5rem;
            padding: 3px 25px;
        }

    }
}

