@import "variables";
@import "menu";
@import "header";
@import "parallax";
@import "footer";



* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    height: 100%;
    font-family: $fontBody;
    color: #252525;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-family: $fontTitle;
        font-size: 2rem;
        margin-top: 2em;
        margin-left: 4rem;
        margin-right: 5rem;
        border-bottom: $secondaryBlue solid 3px;
    }

    &.sm-heading {
        transform: rotate(-90deg);
        transform-origin: left bottom 0;
        margin-top: 4rem;
        margin-left: 1.8rem;
        margin-bottom: -4rem;
        font-size: 25px;
        z-index: 1;

        &.two {
            margin-left: 2.5rem;
            margin-top: 20px;
        }
    }
}

.capital-letter {
    font-size: 30px;
}

.info {
    margin: 0 4rem;
    line-height: 1.2rem;
}

.info-title {
    line-height: 1.3em;
    font-family: $fontTitle;
    font-size: 20px;
    padding-bottom: 10px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $primary;
    color: #fff;
    cursor: pointer;
    padding: 10px 13px;
    border-radius: 2px;
    font-size: 1rem;
}

.fa-long-arrow-alt-up {
    padding-left: 5px;
}

main {
    height: 100vh;

    .hero-image {
        height: 40vh;
        width: 100%;
        object-fit: cover;
        opacity: 0.6;
        filter: alpha(opacity=60);
        /* For IE8 and earlier */

        img {
            height: 100%;
            width: 100%;
        }
    }

    @keyframes bounce {
        0%,
        100%,
        20%,
        50%,
        80% {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transform: translateY(-10px);
        }
        60% {
          -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          transform: translateY(-5px);
        }
      }

    .scroll-down {
        position: absolute;
        bottom: 20px;
        left: 50%;
        font-size: 50px;
        z-index: 99;
        -webkit-transition: all .5s ease-in 3s;
        transition: all .5s ease-in 3s;
        -webkit-animation: bounce 2s infinite 2s;
        animation: bounce 2s infinite 2s;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;

        i {
            color: $primary;
        }

    }
}