@import "partials/variables";
@import "modules/menu";
@import "modules/header";
@import "parallax";
@import "modules/footer";
@import "partials/mixins";
@import "partials/buttons";


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: $fontBody;
    color: #252525;
}

a {
    text-decoration: none;
}

.container-fluid,
.row {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    color: $primary;
}

main {
    height: 100vh;

    @include desktop-small {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url('../img/bakgrund_index.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0.6;
        }
    }

    @include desktop-large {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url('../img/bakgrund_index.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.6;
        }


    }

    .hero-image {
        height: 40vh;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        opacity: 0.6;
        filter: alpha(opacity=60);
        /* For IE8 and earlier */

        @include desktop-small {
            display: none;
        }

        @include desktop-large {
            display: none;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    #desktop-card {

        @include desktop-small {
            border: 25px solid $secondaryBlue;
            border-radius: 5px;
            background: #fff;
            width: 700px;
            height: 400px;
            padding: 20px;

        }

        @include desktop-large {
            border: 25px solid $secondaryBlue;
            border-radius: 10px;
            background: #fff;
            width: 800px;
            height: 400px;
            padding: 20px;
        }
    }

    .lg-heading {
        font-family: $fontTitle;
        color: $primary;
        font-size: 2.5rem;
        margin: 1.5em 3rem 0 3rem;
        border-bottom: $secondaryBlue solid 3px;
        padding-bottom: 0.5rem;

        @include tablet {
            font-size: 3em;
            margin-left: 6rem;
            margin-top: 1em;
        }

        @include desktop-small {
            border-bottom: none;
            font-size: 3rem;
            margin: 1rem 0;
            text-align: center;
        }

        @include desktop-large {
            border-bottom: none;
            font-size: 3.5rem;
            margin: 1.5rem 0;
            text-align: center;
            padding-bottom: 0;
        }

    }

    .sm-heading {
        position: absolute;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
        margin-top: 4rem;
        margin-left: 1.8rem;
        margin-bottom: -4rem;
        font-size: 25px;
        z-index: 1;

        @include tablet {
            font-size: 35px;
            margin-top: 4em;
            margin-left: 2rem;
        }

        @include desktop-small {
            display: none;
        }

        @include desktop-large {
            display: none;
        }
    }

    .desktop-card-text {
        padding: 0 60px;
        font-size: 1rem;
        line-height: 1.3;

        @include tablet {
            font-size: 1.2rem;
            padding: 0 6rem;
            margin-top: 1rem;
            line-height: 1.2;
        }

        @include desktop-small {
            padding: 0 40px;
        }

        @include desktop-large {
            padding: 0 60px 30px;
        }


        .capital-letter {
            font-size: 30px;
        }
    }

}