//---- Go Back to Top Button ----//

#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $primary;
    color: #fff;
    cursor: pointer;
    padding: 10px 13px;
    border-radius: 2px;
    font-size: 1rem;
    text-transform: uppercase;

    @include desktop-large {
        bottom: 120px;
        padding: 20px 35px;
        font-size: 1.5rem;
    }
}

.fa-long-arrow-alt-up {
    padding-left: 5px;
}

//---- Scroll down Button ----//

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.scroll-down {
    position: absolute;
    left: 47%;
    bottom: 20px;
    font-size: 40px;
    z-index: 99;
    -webkit-transition: all .5s ease-in 3s;
    -o-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;

    i {
        color: $primary;
    }

    @include desktop-small {
        font-size: 5em;
    }

    @include desktop-large {
        font-size: 6em;
    }

}