// Colors
 $primary: #515261;
 $secondaryBlue: #3C787F;
 $secondaryBeige: #F3EAE5;

// Fonts
$fontTitle: 'Libre Baskerville', serif;
$fontBody: 'Thasadith', sans-serif;

//Media Queries
$tablet-width: 768px;
$desktop-width-S: 992px;
$desktop-width-L: 1200px;