.footer-body {
    background-color: $primary;
    color: #fff;
    padding: 15px;

    h4 {
        font-size: 1rem;
        text-align: center;
        margin: auto;

        @include desktop-small {
            font-size: 1.5rem;
        }
    }

    
}